In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings

In [17]:
file_path = 'Adidas US Sales Datasets.xlsx'
df = pd.read_excel(file_path)
print(df.head())

   Unnamed: 0   Unnamed: 1             Unnamed: 2           Unnamed: 3  \
0         NaN          NaN  Adidas Sales Database                  NaN
1         NaN          NaN                    NaN                  NaN
2         NaN          NaN                    NaN                  NaN
3         NaN     Retailer            Retailer ID         Invoice Date
4         NaN  Foot Locker                1185732  2020-01-01 00:00:00

  Unnamed: 4 Unnamed: 5 Unnamed: 6             Unnamed: 7      Unnamed: 8  \
0        NaN        NaN        NaN                    NaN             NaN
1        NaN        NaN        NaN                    NaN             NaN
2        NaN        NaN        NaN                    NaN             NaN
3     Region      State       City                Product  Price per Unit
4  Northeast   New York   New York  Men's Street Footwear              50

   Unnamed: 9  Unnamed: 10       Unnamed: 11       Unnamed: 12   Unnamed: 13
0         NaN          NaN               NaN               NaN           NaN
1         NaN          NaN               NaN               NaN           NaN
2         NaN          NaN               NaN               NaN           NaN
3  Units Sold  Total Sales  Operating Profit  Operating Margin  Sales Method
4        1200       600000            300000               0.5      In-store

In [18]:
print(df.info())
print(22*'--')
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9652 entries, 0 to 9651
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   9649 non-null   object
 2   Unnamed: 2   9650 non-null   object
 3   Unnamed: 3   9649 non-null   object
 4   Unnamed: 4   9649 non-null   object
 5   Unnamed: 5   9649 non-null   object
 6   Unnamed: 6   9649 non-null   object
 7   Unnamed: 7   9649 non-null   object
 8   Unnamed: 8   9649 non-null   object
 9   Unnamed: 9   9649 non-null   object
 10  Unnamed: 10  9649 non-null   object
 11  Unnamed: 11  9649 non-null   object
 12  Unnamed: 12  9649 non-null   object
 13  Unnamed: 13  9649 non-null   object
dtypes: float64(1), object(13)
memory usage: 1.0+ MB
None
--------------------------------------------
(9652, 14)